.container-fluid{
    background-color: rgba(128, 128, 128, 0.256);
}
.card{
    width: 18rem;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
  
    
}
.card2{
    width: 18rem;
    /* box-shadow: 0 0 30px rgba(0,0,0,0.5); */
  
    overflow: hidden;
}
.card-text{


text-align:center;
}
.card-img-top2{
    border-radius: 15px;
}.card-text{
justify-content: space-between;
}
.list{
  color:white;
}
ul li::before{
    color:white;
}